spring.profiles.active=jaudiotagger

spring.datasource.driver-class-name=org.postgresql.Driver
spring.datasource.url=jdbc:postgresql://localhost:5432/database?stringtype=unspecified
spring.datasource.username=user
spring.datasource.password=password

spring.flyway.default-schema=stolat
spring.flyway.schemas=stolat

sql.populate-album-birthday-script=populate_album_birthday_table.sql

filesystem.album-collection-path=/path/to/music/collection
filesystem.music-file-extensions[0]=flac
filesystem.music-file-extensions[1]=ogg